extends layout

block content
  .inner
    h2= title
    .map
      .autocomplete
        input.autocomplete__input(type="text" placeholder="Connect to a nearby mosque or madrasah..." name="geolocate")
      #map
        p Loading Map...
