extends layout

include mixins/_masjidCard
include mixins/_pagination

block content
  .inner
    h2= title
    .masajid
      each masjid in masajid
        +masjidCard(masjid)
    +pagination(page, pages, count)
