extends layout

block content
  .inner
    form.form(action="/register" method="POST")
      h2 Masha Allah! Register to become a MASJID.NG Registrar!
      label(for="name") Full Name
      input(type="text" name="name")
      label(for="phone_no") Phone number
      input(type="number" name="phone_no")
      label(for="email") Email
      input(type="email" name="email")
      label(for="password") Password
      input(type="password" name="password")
      label(for="password-confirm") Confirm Password
      input(type="password" name="password-confirm")
      input.button(type="submit" value="Register →")
