extends layout

include mixins/_masjidCard

block content
  .inner
    h2 #{tag || 'Filter Mosques by Features'}
    ul.tags
      each t in tags
        li.tag
          a.tag__link(href=`/tags/${t._id}` class=(t._id === tag ? 'tag__link--active' : ''))
            span.tag__text= t._id
            span.tag__count= t.count
    .masajid
      each masjid in masajid
        +masjidCard(masjid)
